@page
@model Products.Pages_ItemPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].ItemDescription)
            </th>
            <th>
                <img="@Html.DisplayNameFor(model => model.Items[0].ItemImage)"/>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Released_Date_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Expired_Date_Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ItemImage)" alt="No Image Found">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Released_Date_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expired_Date_Time)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
